<!DOCTYPE html>
<html lang="en">
<head>
      <!-- Filepond stylesheet -->
    <link href="https://unpkg.com/filepond/dist/filepond.css" rel="stylesheet">
    <link href="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.css" rel="stylesheet">

    <meta charset="UTF-8">
    <title>Web</title>
    <style>
        .left {
            float: left;
            width: 50%;
            height: auto;
            border: 2px aqua;
        }
        .right {
            float: right;
            width: 50%;
            height: auto;
            border: 2px red;
        }
    </style>
    <script>
        function op_unwrap_n_replace() {
            console.log("op_unwrap_n_replace")
            var f2 = document.getElementById('server_upload_filename_right').innerText.trim()
            const http_get = new XMLHttpRequest()
            const url = '/op_unwrap_n_replace?filename='+f2
            http_get.open("GET", url)
            http_get.send()
            http_get.onreadystatechange=(e)=>{
                console.log(http_get.response)
                 if (http_get.status === 200 && http_get.response !== '' && http_get.readyState === 4) {
                     let resp = JSON.parse(http_get.response);
                     var img = new Image(200,200);
                     img.src = resp.filepath;
                     document.getElementById('server_upload_filename_right').innerText = resp.filename
                     document.getElementById('right').appendChild(img);
                 }
            }
        }

        function compare_img() {
            console.log("compare_img")
            var f1 = document.getElementById('server_upload_filename_left').innerText.trim()
            var f2 = document.getElementById('server_upload_filename_right').innerText.trim()
            const http_get = new XMLHttpRequest()
            const url = '/compare_img?filename1='+f1+"&filename2="+f2
            http_get.open("GET", url)
            http_get.send()
            http_get.onreadystatechange=(e)=>{
                console.log(http_get.response)
                if (http_get.status === 200 && http_get.response !== '' && http_get.readyState === 4) {
                    var text = new Text("重合率：" + http_get.response)
                    document.body.appendChild(text)
                    document.getElementById('btn').innerText = "重合率：" + http_get.response
                }
            }
        }

        function remove_all_img_cache() {
            console.log("remove_all_img_cache")
            const http_get = new XMLHttpRequest()
            const url = '/remove_all_img_cache?'
            http_get.open("GET", url)
            http_get.send()
            http_get.onreadystatechange=(e)=>{
                console.log(http_get.response)
            }
        }
    </script>
</head>
<body>
    <h1>Hello World!</h1>
    <button id="btn" onclick="compare_img()"><h2>对比重合率</h2></button>
    <button id="btn" onclick="remove_all_img_cache()"><h2>删除全部缓存</h2></button>
    <!-- We'll transform this input into a pond -->
    <input type="file" class="filepond">

    <!-- Load FilePond library -->
    <script src="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.js"></script>
    <script src="https://unpkg.com/filepond/dist/filepond.js"></script>


    <div class="left" id="left">
        <p>图1</p>
        <p id="server_upload_filename_left">null</p>
    </div>

    <div class="right" id="right">
        <p>图2</p>
        <button onclick="op_unwrap_n_replace()">颜色处理</button>
        <p id="server_upload_filename_right">null</p>
    </div>

    <!-- Turn all file input elements into ponds -->
        <script>
            var inputElement = document.querySelector('input[type="file"]');
            FilePond.registerPlugin(FilePondPluginImagePreview);
            FilePond.setOptions({
                // 设置单个URL是定义服务器配置的最基本形式。
                server: {
                    url: '/upload_img',
                    process: {
                        //处理图片上传接口的返回内容
                        onload: function (response) {
                            let resp = JSON.parse(response);
                            console.log("resp:", resp.filename);
                            var img = new Image(200,200);
                            {#img.src = 'static/png/' + resp.filename;#}
                            img.src = resp.filepath
                            if (document.getElementById('server_upload_filename_left').innerText.trim() !== 'null') {
                                document.getElementById('server_upload_filename_right').innerText = resp.filename;
                                document.getElementById('right').appendChild(img);
                            } else {
                                document.getElementById('server_upload_filename_left').innerText = resp.filename;
                                document.getElementById('left').appendChild(img);
                            }
                        }
                    }
                },
                // 设置图片类型只能为png才能上传
                allowFileTypeValidation: true,
                acceptedFileTypes: "image/png",
                // 启用或禁用图像裁剪
                allowImageCrop: true,

                // 启用或禁用文件大小验证
                allowFileSizeValidation: true,
                maxFileSize: null,

                // 启用或禁用提取EXIF信息
                allowImageExifOrientation: true

            });
            FilePond.create(inputElement)
        </script>

</body>
</html>
